{% extends "base.html.twig" %}
{% block body %}
	<div class = "mainScreen">
		<h1><a href = "{{ path('mainMenu') }}"><</a> Rezervazijos pridėjimas </h1> <br />
		<div id="profile">
            {{ form (form) }}
		</div>
	</div>
{% endblock %}