{% extends "base.html.twig" %}
{% block body %}
	<div class = "mainScreen">
		<h1><a href = "{{ path('mainMenu') }}"><</a> Viešbučiai <a href = "{{ path('addHotel') }}">+</a> </h1> <br />
		<table style="width:100%">
			<tr>
				<th>Pavadinimas</th>
				<th>Įmonės kodas</th>
				<th>Reitingas</th>
				<th>Adresas</th>
				<th>Tinklapis</th>
				<th>Ištrinti</th>
				<th>Redaguoti</th>
			</tr>
			<tr>
				<td>Daugirdas</td>
				<td>303485437</td>
				<td>4,1</td>
				<td>Daugirdo g. 10</td>
				<td><a href="hhtps://www.daugird.lt">Daugird.lt</a></td>
				<td><a href="">X</a></td>
				<td><a href="">E</a></td>
			</tr>
			<tr>
				<td>Narutis</td>
				<td>308968437</td>
				<td>4,9</td>
				<td>Kovo g. 5</td>
				<td><a href="hhtps://www.narutishotel.lt">Narutishotel.lt</a></td>
				<td><a href="">X</a></td>
				<td><a href="">E</a></td>
			</tr>
			<tr>
				<td>Kaunas city</td>
				<td>303485437</td>
				<td>5,0</td>
				<td>Centro g. 1</td>
				<td><a href="hhtps://www.kaunascityhot.lt">Kaunascity.lt</a></td>
				<td><a href="">X</a></td>
				<td><a href="">E</a></td>
			</tr>
		</table> 
	</div>
{% endblock %}