{% extends "base.html.twig" %}
{% block body %}
	<div class = "mainScreen">
		<h1><a href = "{{ path('itemList') }}"><</a> Sandėlio daiktų informacijos keitimas </h1> <br />
		<div id="profile">
		{% if error is defined and error is not null %}
        		<div>{{ error }}</div>
    		{% endif %}
		{% if success is defined and success is not null %}
        		<div>{{ success }}</div>
    		{% endif %}  
            {{ form (form) }}
		</div>
	</div>
{% endblock %}