{% extends "base.html.twig" %}
{% block title %}
    EGP - Registration
{% endblock %}
{% block body %}
    <div class = "mainScreen">
        <h1>EGP - Registration</h1>
        {# alerts rendering #}
        {{ parent() }}
		{% if error is not null %}
        		<div>{{ error }}</div>
    	{% endif %}
        {{ form (form) }}
        <a href = "{{ path('login') }}">Already have an account? Login</a>
    </div>
{% endblock %}
