{% extends "base.html.twig" %}
{% block body %}
	<div class = "mainScreen">
		<h1> Sandėlio meniu </h1>
		<a href = "">Sandėlio ataskaita</a><br />
		<a href = "">Sandėlio daiktų sąrašas</a><br />
		<a href = "">Sandėlio užsakymų langas</a><br />
		<a href = "">Pridėjimas prie sandėlio</a><br />
		<a href = "">Užsakyti daiktą</a><br /><br />
	</div>
{% endblock %}